mat-card {
    background-color: #555050;
    margin: 0.5rem auto 0;
    border: 1px solid white;
    width: 90%;
    .h5 {
      letter-spacing: 3px;
      text-align: center;
        
    }
  }
  
  mat-nav-list {
    color: black;
    margin-top: 1rem;
    
    
   a{
    &.activ e-link{
        background-color: #78af18;
    }
   }
 
  }
